body{
    background-color: #181818;
}
h1, h2, h3, h4, p{
    color: #ffffff;
}
a{
    color:#9f90ff
}
h1{
    color:#D8EAFF
}
header{
    background-color: #0f006d;
}
nav{
    background-color: #000000;
}
section{
    background-color: #454545;
}
#Perfil{
    background-color: #004500;
}